<!DOCTYPE html>
<html lang="en">
	<!--Start of head-->
	###site_head###
	<!--/#head-->
	<body>

		<!--Start of scripts -->
		###404_jscript###
		<!--/#scripts -->

		<!-- start of header navigation-->
		###site_navigation###
		<!--/header navigation-->

		<!-- start of header navigation-->
		###404_content###
		<!--/header navigation-->


		<!--Start of footer-->
		###site_footer###
		<!--/#footer-->

		<!--Start of google analytics -->
		###google_anlytics###
		<!--/#google_anlytics -->

	</body>
</html>
