<!DOCTYPE html>
<html lang="en">
	###site_head###
	<body>
		<!-- Start of scripts -->
		###product_jscript###
		<!-- End scripts -->
		<!-- Start of header navigation -->
		###site_navigation###
		<!-- End header navigation -->
		<div class="container">
			<div class="col-md-12 text-center">
				<h2>###product###</h2>
            </div>
            <p style="font-size: 18px; margin-bottom: 30px;">###prod_desc###</p>
		</div>
		<div class="container" id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 809px; height: 200px; overflow: hidden; visibility: hidden;">
			<!-- Loading Screen -->
			<div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
				<div style=
					"filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;">
				</div>
				<div style="position:absolute;display:block;background:url('/assets/images/slides/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;">
				</div>
			</div>
			<div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 809px; height: 200px; overflow: hidden;">
				###slider###
			</div>
            <!-- Bullet Navigator -->
			<!--<div class="jssorb03" data-u="navigator" style="bottom:10px;right:10px;">
			 <div data-u="prototype" style="width:21px;height:21px;">
				<div data-u="numbertemplate"></div>
             </div>
			</div>-->
            <!-- Arrow Navigator -->
           <span class="jssora03r" data-autocenter="2" data-u="arrowleft" style="top:0px;right:8px;width:55px;height:55px;"></span>
		   <span class="jssora03l" data-autocenter="2" data-u="arrowright" style="top:0px;left:8px;width:55px;height:55px;"></span>
		</div>
		<div class="container" style="padding-left: 0px;">
			<section ###section-id-product###>
		      ###side_prods###
			</section>
		</div>
		<!-- Start of footer -->
		###site_footer###
		<!-- End footer -->
		<!-- Start of google analytics -->
		###google_analytics###
		<!-- End google_analytics -->
	</body>
</html>
