@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic");

@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");

@import url(https://fonts.googleapis.com/css?family=Roboto);

/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,.isotope.no-transition .isotope-item,.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}

.fixed {
  position: fixed;
  top: 0;
}

.clear {
  clear: both;
}

.clearfix:before,.clearfix:after,.site-header .site-nav:before,.site-header .site-nav:after,.site-header .site-logo:before,.site-header .site-logo:after {
  content: " ";
  display: table;
}

.clearfix:after,.site-header .site-nav:after,.site-header .site-logo:after {
  clear: both;
}

body {
  margin-top: 50px;
  background-color: #fafcfe;
}

a {
  color: #303641;
  text-decoration: none;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

a:hover {
  color: #505b6d;
  text-decoration: none;
}

p {
  color: black;
}

.vspace,.vspacer {
  margin-top: 30px;
  margin-bottom: 50px;
}

.bg-gray {
  background: #f2f2f2;
}

.btn.btn-secondary {
  background-color: #ff4e50;
  color: #fff;
}

.no-top-margin {
  margin-top: 0 !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.secondary {
  color: #ff4e50;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.secondary:hover {
  color: #ce0002;
}

.form-control {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress {
  background: #e6e6e6;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress.progress-rounded {
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
}

.nav-menu li {
  position: relative;
  font-size: 18px;
  line-height: 1;
  font-family: 'Roboto', 'Open sans', sans-serif, serif;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #FFF;
  background-color: transparent;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
  color: black;
}

.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
  background-color: #e7e7e7;
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #FFF;
  background-color: transparent;
}

.nav-tabs .dropdown-menu,.nav-pills .dropdown-menu,.navbar .dropdown-menu {
  margin-top: 0;
}

.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}

.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}

.site-header-container {
  background: #252528;
  border-color: #252528;
  background: url(data: image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodâ€¦IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
  background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#008fe2),color-stop(100%,#00b29c));
  background: -webkit-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
  background: -o-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
  background: -ms-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
  background: linear-gradient(154deg,#008fe2 0,#00b29c 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#008fe2', endColorstr='#00b29c', GradientType=1);
}

.home-icon {
  color: #FFF;
}

.site-header {
  display: flex;
  width: 100%;
  text-align: left;
  margin-bottom: 0;
  color: #FFF;
  font-weight: 600;
  font-size: larger;
  text-shadow: 2px 2px 2px black;
}

.site-nav-logo {
  font-family: Roboto, sans-serif;
  font-size: 28px;
  color: #FFF;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  line-height: 1em;
}

.site-nav {
  background: #FFF;
  display: table;
  width: 100%;
  position: relative;
  text-align: left;
}

.site-header .site-nav,.site-header .site-logo {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-logo {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  font-size: 33px;
  text-decoration: none;
  color: black;
}

.site-header .site-logo a {
  display: inline-block;
}

.site-header .site-nav .selectnav {
  width: 100%;
}

.site-header .site-nav .main-menu {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-header .site-nav .main-menu li {
  position: relative;
  line-height: 1;
}

.site-header .site-nav .main-menu li a {
  position: relative;
  display: inline-block;
  outline: 0;
  font-family: inherit;
  -moz-transition: padding 300ms;
  -webkit-transition: padding 300ms;
  -o-transition: padding 300ms;
  transition: padding 300ms;
}

.site-header .site-nav .main-menu li a:hover {
  color: #464e5e;
}

.site-header .site-nav .main-menu li .has-sub > a:before {
  font-family: 'entypo';
  display: inline-block;
  content: '\e877';
  padding-left: 5px;
  margin-right: 2px;
  margin-top: 3px;
  float: right;
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.site-header .site-nav .main-menu li.has-sub:hover > a:before {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.site-header .site-nav .main-menu > li {
  display: inline-block;
  margin: 0 5px;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.site-header .site-nav .main-menu > li > a {
  position: relative;
  display: inline-block;
  z-index: 2;
  border: 1px solid transparent;
  border-bottom: 1px solid #fff;
  padding: 10px 10px;
  -webkit-border-radius: 4px 4px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px 4px 0 0;
  -moz-background-clip: padding;
  border-radius: 4px 4px 0 0;
  background-clip: padding-box;
}

.site-header .site-nav .main-menu > li > a span:after {
  display: block;
  position: absolute;
  content: '';
  left: 10px;
  right: 10px;
  bottom: 5px;
  height: 2px;
  background: transparent;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.site-header .site-nav .main-menu > li.has-sub {
  z-index: 100;
}

.site-header .site-nav .main-menu > li.has-sub > a:after {
  font-family: 'entypo';
  display: inline-block;
  content: '\e877';
  padding-left: 5px;
}

.site-header .site-nav .main-menu > li.has-sub.hover > a {
  border-color: #f2f2f2;
  border-bottom-color: #fff;
}

.site-header .site-nav .main-menu > li:hover {
  z-index: 5;
}

.site-header .site-nav .main-menu > li.active > a {
  display: inline-block;
  color: #FFF;
}

.site-header .site-nav .main-menu > li.active > a > span:after {
  background: rgba(183, 25, 31, 0.7);
}

.site-header .site-nav .main-menu > li: last-child {
  margin-right: 0;
}

.site-header .site-nav .main-menu > li: last-child > a {
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

.site-header .site-nav .main-menu > li ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: none;
}

.site-header .site-nav .main-menu > li ul.visible {
  display: block;
}

.site-header .site-nav .main-menu > li ul li {
  margin: 0;
  padding: 0;
}

.site-header .site-nav .main-menu > li ul li a {
  display: block;
}

.site-header .site-nav .main-menu > li ul li.active > a {
  color: #ff4e50;
}

.site-header .site-nav .main-menu > li > ul {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 15px;
  border: 1px solid #f2f2f2;
  min-width: 200px;
  margin-top: -1px;
  z-index: 1;
  background: #fff;
  -webkit-border-radius: 0 4px 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 4px 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 4px 4px 4px;
  background-clip: padding-box;
}

.site-header .site-nav .main-menu > li > ul > li {
  border-bottom: 1px solid #f2f2f2;
}

.site-header .site-nav .main-menu > li > ul > li > a {
  padding: 10px 0;
}

.site-header .site-nav .main-menu > li > ul > li > ul {
  margin-left: -15px;
  margin-right: -15px;
  background: #f7f7f7;
}

.site-header .site-nav .main-menu > li > ul > li > ul > li a {
  margin: 0 15px;
  padding: 10px 0;
  border-bottom: 1px solid #e9e9e9;
}

.site-header .site-nav .main-menu > li > ul > li > ul > li: last-child > a {
  border-bottom: 0;
}

.site-header .site-nav .main-menu > li > ul > li > ul > li > ul {
  background: #efefef;
}

.site-header .site-nav .main-menu > li > ul > li > ul > li > ul > li > a {
  border-bottom: 1px solid #e5e5e5;
}

.site-header .site-nav .main-menu > li > ul > li > ul > li > ul > li: last-child > a {
  border-bottom: 0;
}

.site-header .site-nav .main-menu > li > ul > li:first-child a {
  padding-top: 0;
}

.site-header .site-nav .main-menu > li > ul > li: last-child {
  border-bottom: 0;
}

.site-header .site-nav .main-menu > li > ul > li: last-child a {
  padding-bottom: 0;
}

.site-header .site-nav .main-menu.search-active > li > a {
  padding-left: 5px;
  padding-right: 5px;
  -moz-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  -o-transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
  transition: all 300ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

.site-header .site-nav .main-menu.search-active > li > a span:after {
  left: 5px;
  right: 5px;
}

.site-header .site-nav .main-menu.search-active > li.search > a {
  padding-left: 105px;
  cursor: default;
}

.site-header .site-nav .main-menu.search-active > li.search > a i {
  cursor: pointer;
}

.site-header .site-nav .main-menu.search-active > li.search > a:before {
  display: none;
}

.site-header .site-nav .main-menu.search-active > li.search .search-form {
  visibility: visible;
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.mobile-menu {
  background: #303641;
  display: none;
}

.mobile-menu a {
  color: #fff;
}

.mobile-menu,.mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mobile-menu li a,.mobile-menu ul li a {
  padding: 10px 15px;
  display: block;
  border-bottom: 1px solid #454a54;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.mobile-menu li a:hover,.mobile-menu ul li a:hover {
  background: #262b34;
}

.mobile-menu li.active > a,.mobile-menu ul li.active > a {
  background: #262b34;
}

.mobile-menu li.search,.mobile-menu ul li.search {
  position: relative;
}

.mobile-menu li.search > a,.mobile-menu ul li.search > a {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  padding: 13px 15px;
}

.mobile-menu li.search .form-control,.mobile-menu ul li.search .form-control {
  -webkit-border-radius: 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0;
  -moz-background-clip: padding;
  border-radius: 0;
  background-clip: padding-box;
  background: #303641;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #454a54;
  height: 45px;
}

.mobile-menu li.search .form-control: : -webkit-input-placeholder,.mobile-menu ul li.search .form-control: : -webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.mobile-menu li.search .form-control: -moz-placeholder,.mobile-menu ul li.search .form-control: -moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.mobile-menu li.search .form-control: : -moz-placeholder,.mobile-menu ul li.search .form-control: : -moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.mobile-menu li.search .form-control: -ms-input-placeholder,.mobile-menu ul li.search .form-control: -ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.mobile-menu li.search .form-control: : -moz-placeholder,.mobile-menu ul li.search .form-control: : -moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
  opacity: 1;
}

.mobile-menu li.search .form-control: -ms-input-placeholder,.mobile-menu ul li.search .form-control: -ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.mobile-menu li.search .form-control: : -webkit-input-placeholder,.mobile-menu ul li.search .form-control: : -webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.mobile-menu ul a {
  padding-left: 20px;
}

.mobile-menu ul ul a {
  padding-left: 40px;
}

.mobile-menu ul ul ul a {
  padding-left: 60px;
}

@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none !important;
  };
}

.certification-container {
  padding: 20px 0;
  padding-bottom: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
}

.certification-container .certification-nav {
  margin-top: 30px;
  text-align: center;
}

.cert-item {
  text-align: center;
}

.cert-item .image img {
  max-height: 100px;
  max-width: 210px;
  min-height: 100px;
  min-width: 100px;
}

.cert-item .image h4 {
  text-align: left;
}

.certification-container .certification-nav a {
  display: inline-block;
  background: #fff;
  overflow: hidden;
  text-indent: 14px;
  margin: 0 3px;
  zoom: 1;
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  filter: alpha(opacity=50);
  width: 7px;
  height: 7px;
  -webkit-border-radius: 3.5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3.5px;
  -moz-background-clip: padding;
  border-radius: 3.5px;
  background-clip: padding-box;
  -moz-transition: all 600ms;
  -webkit-transition: all 600ms;
  -o-transition: all 600ms;
  transition: all 600ms;
}

.certification-container .certification-nav a.active,.certification-container .certification-nav a:hover {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

.features-blocks {
  border-top: 1px solid #f2f2f2;
  clear: both;
  display: block;
  position: relative;
}

.features-blocks .feature-block h3,.features-blocks .feature-block p {
  margin: 0;
  padding: 0;
}

.features-blocks .feature-block h3 {
  position: relative;
  padding-left: 40px;
  font-size: 17px;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding-top: 2px;
}

.features-blocks .feature-block h3 i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}

.features-blocks .feature-block p {
  padding-left: 40px;
  color: #000000;
}

.portfolio-widget {
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px solid #f2f2f2;
}

.portfolio-widget .portfolio-info h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.portfolio-widget .portfolio-info h3 a {
  color: #303641;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.portfolio-widget .portfolio-info h3 a:hover {
  color: #ff4e50;
}

.portfolio-widget .portfolio-info p {
  margin-top: 10px;
  color: #999999;
}

.dropdown-menu>li>a:focus,.dropdown-menu>li>a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #009ab0;
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a:hover {
  color: #fff;
  text-decoration: none;
  background-color: #009ab0;
  outline: 0;
}

.portfolio-item .image,.gallery-item .image {
  display: block;
  position: relative;
  margin-bottom: 25px;
  overflow: hidden;
}

.portfolio-item .image img,.gallery-item .image img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.portfolio-item .image:after,.gallery-item .image:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(48, 54, 65, 0.5);
  z-index: 5;
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.portfolio-item .image .hover-zoom,.gallery-item .image .hover-zoom {
  position: absolute;
  display: block;
  top: 47%;
  left: 43%;
  margin-top: -16px;
  margin-left: -16px;
  z-index: 10;
  width: 32px;
  height: 32px;
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  zoom: 1;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: all .8s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -webkit-transition: all .8s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  -o-transition: all .8s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  transition: all .8s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  font-size: 22px;
  font-weight: 600;
}

.portfolio-item .image .title,.gallery-item .image .title {
  position: absolute;
  font-family: inherit;
  color: #fff;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 11;
  bottom: -100px;
  -webkit-border-radius: 0 0 4px 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 0 0 4px 4px;
  -moz-background-clip: padding;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
  -moz-transition: all 500ms;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.portfolio-item .image:hover:after,.gallery-item .image:hover:after {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

.portfolio-item .image:hover .hover-zoom,.gallery-item .image:hover .hover-zoom {
  zoom: 1;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  color: white;
}

.portfolio-item .image:hover .title,.gallery-item .image:hover .title {
  bottom: 0;
}

.portfolio-item h4,.gallery-item h4 {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.portfolio-item h4 a.name,.gallery-item h4 a.name {
  color: #303641;
  font-size: 15px;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
  display: block;
  padding-bottom: 15px;
}

.portfolio-item h4 a.name:hover,.gallery-item h4 a.name:hover {
  color: #ff4e50;
}

.portfolio-item h4 a.like,.gallery-item h4 a.like {
  float: right;
  margin-left: 10px;
  color: #999999;
  font-size: 13px;
  margin-top: 2px;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.portfolio-item h4 a.like.liked,.gallery-item h4 a.like.liked,.portfolio-item h4 a.like:hover,.gallery-item h4 a.like:hover {
  color: #ff4e50;
}

.portfolio-item .categories,.gallery-item .categories {
  padding-top: 5px;
}

.portfolio-item .categories a,.gallery-item .categories a {
  color: #999999;
  font-size: 12px;
  -moz-transition: all 350ms;
  -webkit-transition: all 350ms;
  -o-transition: all 350ms;
  transition: all 350ms;
}

.portfolio-item .categories a:hover,.gallery-item .categories a:hover {
  color: #737373;
}

@media screen and (max-width: 767px) {
  .portfolio-items .col-xs-6 {
    width: 49.9%;
  };
}

@media screen and (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: black;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: black;
    background-color: transparent;
  }
  
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: black;
  }
  section.blog {
    padding: 10px 0;
  }

  .breadcrumb .text-muted {
    font-size: 14px;
    text-align: left;
  }

  .site-header:before, .site-header:after {
    content: " ";
    display: table;
  }

  .site-header:after {
    clear: both;
  }

  .site-header:before, .site-header:after {
    content: " ";
    display: table;
  }

  .site-header:after {
    clear: both;
  }

  .site-header .site-logo {
    padding: 30px 0;
    margin: 0 auto;
    text-align: left;
  }

  .site-header .site-nav, .site-header .site-logo {
    padding: 15px 0;
  }

  .site-header .site-logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .site-header .site-nav {
    text-align: right;
  }

  .portfolio-item-details .item-description dl {
    text-align: left;
    margin-bottom: 0px;
  }

  .portfolio-item h4 a.like.liked i, .gallery-item h4 a.like.liked i, .portfolio-item h4 a.like:hover i, .gallery-item h4 a.like:hover i, .portfolio-item h4 a.like i, .gallery-item h4 a.like i {
    font-size: 20px;
  }

  .footer-widgets {
    padding: 20px 0;
  }

  .footer-widgets .container .row h5 {
    margin-top: 40px;
  }

  .contact-container .contact-form button.btn {
    width: 100%;
  }

  .contact-container {
    margin: 30px 0;
  }

  .contact-map {
    min-height: 200px;
  }

  .contact-container .contact-form {
    margin-bottom: 40px;
  }

  .features-blocks .vspace {
    margin: 0px;
  }

  .features-blocks .feature-block {
    margin-bottom: 40px;
  }

  .portfolio-widget {
    margin: 20px 0;
  }

  .portfolio-widget .portfolio-item {
    margin-top: 40px;
  }

  .site-footer {
    text-align: center;
  }

  .site-footer .social-networks {
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.menu-trigger {
  display: block;
  color: #FFF;
  background: #303641;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  width: 36px;
  height: 36px;
}

.carousel {
  margin-bottom: 10px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  margin-top: 0;
  font-size: 50px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 470px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 470px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 650px;
  padding: 0 20px;
  margin-top: 200px;
}

.carousel-caption h1,.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}

.carousel-caption .btn {
  margin-top: 10px;
}

.jssorb21 {
  position: absolute;
}

.jssorb21 div, .jssorb21 div:hover, .jssorb21 .av {
  position: absolute;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 19px;
  color: white;
  font-size: 12px;
  background: url(/assets/images/slides/b05.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
}

.jssorb21 div {
  background-position: -5px -5px;
}

.jssorb21 div:hover, .jssorb21 .av:hover {
  background-position: -35px -5px;
}

.jssorb21 .av {
  background-position: -65px -5px;
}

.jssorb21 .dn, .jssorb21 .dn:hover {
  background-position: -95px -5px;
}

.jssora21l, .jssora21r {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url(/assets/images/slides/a22.png) center center no-repeat;
  overflow: hidden;
}

.jssora21l {
  background-position: -3px -33px;
}

.jssora21r {
  background-position: -63px -33px;
}

.jssora21l:hover {
  background-position: -123px -33px;
}

.jssora21r:hover {
  background-position: -183px -33px;
}

.jssora21l.jssora21ldn {
  background-position: -243px -33px;
}

.jssora21r.jssora21rdn {
  background-position: -303px -33px;
}

.jssorb03 {
  position: absolute;
}

.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
  position: absolute;
  width: 21px;
  height: 21px;
  text-align: center;
  line-height: 21px;
  color: white;
  font-size: 12px;
  background: url('/assets/images/slides/b03.png') no-repeat;
  overflow: hidden;
  cursor: pointer;
}

.jssorb03 div {
  background-position: -5px -4px;
}

.jssorb03 div:hover, .jssorb03 .av:hover {
  background-position: -35px -4px;
}

.jssorb03 .av {
  background-position: -65px -4px;
}

.jssorb03 .dn, .jssorb03 .dn:hover {
  background-position: -95px -4px;
}

.jssora03l, .jssora03r {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  cursor: pointer;
  background: url('/assets/images/slides/a03.png') no-repeat;
  overflow: hidden;
}

.jssora03l {
  background-position: -3px -33px;
}

.jssora03r {
  background-position: -63px -33px;
}

.jssora03l:hover {
  background-position: -123px -33px;
}

.jssora03r:hover {
  background-position: -183px -33px;
}

.jssora03l.jssora03ldn {
  background-position: -243px -33px;
}

.jssora03r.jssora03rdn {
  background-position: -303px -33px;
}

.site-footer {
  background: #0185AE;
  color: #fff;
  padding: 20px 0;
}

.share {
  margin-top: 15px;
  padding-left: 20px;
}

.footer-widgets {
  padding: 20px 0;
  border-top: 1px solid #f2f2f2;
}

.footer-widgets p {
  color: #000000;
  margin-bottom: 0;
}

.footer-widgets p + p {
  margin-top: 10px;
}

.footer-widgets a + p {
  margin-top: 15px;
}

.footer-widgets h5 {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

.social-networks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-networks > li {
  display: inline-block;
  line-height: 1;
}

.social-networks > li a {
  display: inline-block;
  line-height: 24px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  -moz-transition: all 450ms;
  -webkit-transition: all 450ms;
  -o-transition: all 450ms;
  transition: all 450ms;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  text-shadow: 1px 1px 1px;
}

.social-networks > li a:hover {
  color: #303641;
}

.social-networks > li: last-child a {
  margin-right: 0;
}

.contact-map {
  min-height: 250px;
}

.contact-container {
  margin: 50px 0;
}

.contact-container .sep:before {
  content: '';
  position: absolute;
  top: 0;
  right: -45px;
  bottom: 65px;
  width: 1px;
  background: #f2f2f2;
}

.contact-container .contact-form {
  position: relative;
  margin-top: 30px;
}

.contact-container .contact-form .form-control {
  margin-bottom: 20px;
}

.contact-container .contact-form button.btn {
  padding-left: 30px;
  padding-right: 30px;
  text-transform: uppercase;
}

.contact-container .info-entry + .info-entry {
  margin-top: 30px;
  line-height: 1.8;
}

.contact-container .info-entry + .info-entry .social-networks {
  margin-top: 15px;
}

.contact-container .social-networks a {
  background: #f5f5f5;
}